@model PruebaTecnicaGuillermoJimenez.Models.ViewModels.EditHabilidadesEmpleadoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Editar", "EmpleadosHabilidad", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.IdHabilidad)
            @Html.HiddenFor(d => d.IdEmpleado)

            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(d => d.NombreHabilidad)
            @Html.TextBoxFor(d => d.NombreHabilidad, new { @class = "form-control basicAutoComplete" })
            @Html.ValidationMessage("NombreHabilidad", new { @class = "text-danger" })
            <br />
            <div style="text-align:right">
                <input type="submit" class="btn btn-success btn-block" value="Actualizar" />
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            url = "@Url.Content("~/EmpleadosHabilidad/Sugerencia/")"
            $.get(url, function (data) {
                if (data) {
                    var result = [];
                    for (var i in data)
                        result.push(data[i].NombreHabilidad);
                    $(".basicAutoComplete").autocomplete({
                        source: result
                    });
                } else {
                    alert("Ocurrio un error");
                }
            })
        });

    </script>
}